<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation</title>

    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.29/vue.global.js"></script>
    <script src="main.js" defer></script>

</head>
<body>   
    <div id="app">
        <h1 :style="computeColor">PIKACHU TAMAGOTCHI</h1>
        
        <div id="progress_div">
            <progress id="health" :value="healthValue" max="100"></progress>
        </div>
        <br>
        <img :src="computeImage">
        <p>{{ computeMessage }}</p>
        <br>
        <button v-if="isEating" @click="feedPikachu" :style="{ opacity: 0.5 }" disabled>Feed</button>
        <button v-else-if="healthValue >= 100" @click="feedPikachu" :style="{ opacity: 0.5 }" disabled>Feed</button>
        <button v-else @click="feedPikachu">Feed</button>

        <button v-if="isEating" @click="superFeedPikachu" :style="{ opacity: 0.5 }" disabled>Super Feed</button>
        <button v-else-if="healthValue >= 100" @click="superFeedPikachu" :style="{ opacity: 0.5 }" disabled>Super Feed</button>
        <button v-else @click="superFeedPikachu">Super Feed</button>
    </div>
</body>
</html>